*.log
*.orig
.DS_Store
node_modules
coverage
.vscode
features
test
.gitmodules
.eslintrc.yml
.npmignore
.travis.yml
jsconfig.json
.codeclimate.yml
.eslintignore
npm-debug.log
.github
Makefile
.nyc_output
tests
.travis*
*.tgz
*.md